<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
        <h1>CourtPicker Account erstellt</h1>
        <p>
            Sie können sich mit folgendem Benutzernamen einloggen: $user.userName
        </p>
        <p>
            Bevor sie sich einloggen, müssen sie ihren Account mit folgendem Link aktivieren: <br/>
            <a href="http://mycourtpicker.com/app/cp.html#/activateUser?userId=$user.id&activationCode=$user.activationCode">Account aktivieren</a>
        </p>
    </body>
</html>
