<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
        <h1>CourtPicker Account erstellt</h1>
        <p>
            Ein CourtPicker Account wurde für sie erstellt. <br/>
            Sie können sich mit dem Benutzernamen: $user.userName und dem passwort: temp einloggen.
        </p>
        <p>
            Sie können das Passwort jederzeit im Kundenbereich ändern.
        </p>
    </body>
</html>
