<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
		<img src="http://www.courtpicker.com/courtpicker/resources/emailheader.png">
        <h2>Sie haben Ihr CourtPicker Passwort vergessen!</h2>
        <p>
            Ihr CourtPicker Passwort für den Benutzer $user.userName wurde neu generiert.<br/>
            Es lautet nun: $newPassword <nr/>
        </p>
        <p>
            Sie können das Passwort jederzeit im Kundenbereich ändern.
        </p>
    </body>
</html>
