<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
        <h1>CourtPicker Passwort vergessen</h1>
        <p>
            Ihr CourtPicker Passwort für den Benutzer $user.userName wurde neu generiert.<br/>
            Es lautet nun: $newPassword <nr/>
        </p>
        <p>
            Sie können das Passwort jederzeit im Kundenbereich ändern.
        </p>
    </body>
</html>
