<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
		<img src="http://www.courtpicker.com/courtpicker/resources/emailheader.png">
        <h2>CourtPicker Reservierung</h2>
        <p>
            Hiermit bestätigen wir Ihre Reservierung:
        </p>
        <p>
            Anlage: $cpInstanceName <br/>
            Platz: $courtName <br/>
            Datum: $date <br/>
            Von: $fromTime <br/>
            Bis: $toTime <br/>
            Preis: $price €<br/>
            Reservierungsnummer: $reservationId
        </p>
		<p>
			Bitte bezahlen Sie obigen Betrag vor Ort oder über die auf der Homepage der Anlage angegebene Bankverbindung!
		</p>
    </body>
</html>
