<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
		<img src="http://www.courtpicker.com/courtpicker/resources/emailheader.png">
        <h2>CourtPicker Stornierung</h2>
        <p>
            Hiermit bestätigen wir die Stornierung folgender Reservierung:
        </p>
        <p>
            Anlage: $cpInstanceName <br/>
            Platz: $courtName <br/>
            Datum: $date <br/>
            Von: $fromTime <br/>
            Bis: $toTime <br/>
            Preis: $price €<br/>
            Reservierungsnummer: $reservationId
        </p>
    </body>
</html>
