<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
		<img src="http://www.courtpicker.com/courtpicker/resources/emailheader.png">
        <h2>Courtpicker Abo Reservierung</h2>
        <p>
            Hiermit bestätigen wir ihre Abo Reservierung:
        </p>
        <p>
            Anlage: $cpInstanceName <br/>
            Abo: $subscriptionName <br/>
            Platz: $courtName <br/>
            Von $fromToDate jeden $weekDay von $fromTime bis $toTime <br/>
            Preis: $price €<br/>
            Reservierungsnummer: $reservationId
        </p>
		<p>
			Bitte bezahlen Sie obigen Betrag vor Ort oder über die auf der Homepage der Anlage angegebene Bankverbindung!  
		</p>
    </body>
</html>
