<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <body>
		<img src="http://www.courtpicker.com/courtpicker/resources/emailheader.png">
        <h2>Courtpicker Abo Stornierung</h1>
        <p>
            Hiermit bestätigen wir die Stornierung folgender Abo Reserverierung:
        </p>
        <p>
            Anlage: $cpInstanceName <br/>
            Abo: $subscriptionName <br/>
            Platz: $courtName <br/>
            Von $fromToDate jeden $weekDay von $fromTime bis $toTime <br/>
            Preis: $price €<br/>
            Reservierungsnummer: $reservationId
        </p>
    </body>
</html>
